<div class="wrapper-container">
    <div class="container">
        <img ngSrc="/assets/benefits-one.png" width="609" height="588" alt="our-team-1">
        <h3>Equipe Capacitada</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor mollitia vero voluptates, asperiores quo nostrum nemo officiis officia voluptatem eum doloribus, eveniet sint deleniti? Totam nesciunt reprehenderit eum voluptas commodi?</p>
    </div>

    <div class="container">
        <img ngSrc="/assets/benefits-two.png" width="609" height="588" alt="our-team-2">
        <h3>Seus Projetos Criados do Zero</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor mollitia vero voluptates, asperiores quo nostrum nemo officiis officia voluptatem eum doloribus, eveniet sint deleniti? Totam nesciunt reprehenderit eum voluptas commodi?</p>
    </div>
</div>
