
.wrapper-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-self: flex-end;
    padding-left: 42px;

    h3 {
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        color: #1A1A1A;
        padding-top: 25px;
    }
    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        text-align: left;
        color: #1A1A1A;
        padding-right: 104px;
        padding-top: 14px;
    }
}

img{
}

@media (min-width: 1080px) {
    .container {
        flex-direction: column;
        padding: 0 90px;
        height: 745px;
    }
    .wrapper-container {
        width: 100%;


    }
}