@import '../../../color-variables.css';

.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;


    color:white;

    padding: 40px 70px;

    background: var(--bg-secondary);

    h3 {
        font-size: 36px;
        color: white;
        font-family: 'poppins', sans-serif;
        font-weight: 600;
        margin-bottom: 20px;
        margin-top: 40px;
    }

    p{
        font-size: 16px;
        font-weight: 400;
    }

    .text {
        flex: 1;
    }

    form {
        flex: 1;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        width: 100%;

        input {
            background: none;
            border: none;
            border-bottom: 1px solid white;
            width: 100%;

            height: 60px;
            margin-bottom: 40px;
        }
    }



}

@media (min-width: 1080px) {
    .form-section {
        flex-direction: row;
        gap: 115px;


        padding: 40px 120px;

        width: 100%;
        height: 412px;
    }
}