@import '../../../color-variables.css';

button {
    border: none;
    border-radius: 30px;
    cursor: pointer;
    padding: 20px 40px;
}

.btn:disabled {
    opacity: 0.6;
}

.btn.primary {
    color: white;
    background: -webkit-linear-gradient(180deg, var(--light-primary-color), #351686);
    font-size: 24px;
    font-weight: bold;
}

.btn.secondary {
    color: var(--primary-text);
    background: white;
    font-size: 16px;
    font-weight: bold;
}

