:root {
  --primary-text :#0F172A;
  --secondary-text: #475569;
  --primary-color: #8455FF;
  --secondary-color: #5222D0;
  --light-primary-color: #B79FF7;
  --benefit-text-color: #0D002E;
  --bg-secondary: #351686;
}