@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swaphttps://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap);
@import './color-variables.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
}


.pad-70{
    padding: 0 70px;
}